@import "vars";



.ah-buyerpage-span{
	display: block;
	font-family: "PT_SansWebRegular";
	color: #006fb0;
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center;
	@include mobile(768){
		margin-top: 0px;
		text-align: left;
	}
}
.ah-hello-span{
	display: block;
	font-family: "PT_SansWebRegular";
	color: #006eaf;
	font-size: 18px;
	line-height: 24px;
}
.ah-hello-span1{
	color: #049f54;
}
.ah-hello-wrapp{
	margin: 55px 0px;
	width: 100%;
	max-width: 770px;
}
.ah-hello-wrapp1{
	margin: 80px 0px 50px 0px;
	width: 100%;
	max-width: 295px;
}
.ah-hello-box{
	height: 100%;
	@include mobile(768){
		height: 800px;
	}
}




