@import "vars";

.ah-catselect{
	width: 100% !important;
	.btn-default{
		background: #f0f9ff;
		border-color: transparent;
		outline: none !important;
		&:hover, .open>.dropdown-toggle.btn-default{
			background-color: #e2fee5 !important;
			border-color: transparent !important;
			outline: none !important;
		}
		&:focus{
			outline: none !important;
		}
	}
	&.open>.dropdown-toggle.btn-default {
		color: #006eaf;
	    background-color: #f0f9ff !important;
		border-color: transparent !important;
		outline: none !important;

	}
	.btn{
		font-family: "PT_SansWebRegular";
		color: #006eaf;
		font-size: 18px;
	    padding: 8px 30px;
    	@include mobile(768){
			padding: 8px 7px;
		}
		@include mobile(992){
			padding: 8px 30px;
		}
	}
	.dropdown-menu{
		background-color: #f0f9ff;
	}
	.dropdown-menu>li>a{
		color: #006eaf;
		font-size: 18px;
		line-height: 40px;
		&:hover{
			background-color: #e2fee5;
		}
	}
}

/* ******************************************* */
.ah-catalog-selectbox{
	margin-top: 70px;
}
.no-padd{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
/* ******************** */
.ah-pagination-list1{
	margin-top: 7px !important;
}
.ah-pagination-list{
	display: block;
	text-align: center;
	margin-top: 80px;
	li{
		display: inline-block;
		a{
			display: inline-block;
			font-family: "PT_SansWebRegular";
			color: #006fb0;
			font-size: 18px;
			line-height: 24px;
			padding: 15px 19px;
			background: #fff;
			&:hover, &:focus{
				text-decoration: none;
				background: #f0f9ff;
				border-radius: 5px;
				transition: background 0.6s ease 0s;
			}
		}
	}
}
.ah-catalog-item{
	padding: 15px 15px;
	cursor: pointer;
	background: #fff;
	height: 430px;
	position: relative;
	margin: 15px 0px;
	&:hover{
		position: absolute;
		height: 585px;
		z-index: 999;
		border-radius: 5px;
		box-shadow: 0 0 7px rgba(0, 110, 175, 0.1);
		transition: box-shadow 0.6s ease 0s;
		.ah-catitem-hoverbox{
			opacity: 1;
		}
	}
}
.ah-catitem-hoverbox{
	opacity: 0;
	transition: 0.8s;
}
.ah-catalog-span{
	display: block;
	font-family: "PT_SansWebRegular";
	color: #006fb0;
	font-size: 18px;
	line-height: 24px;
	margin-top: 13px;
	margin-bottom: 20px;
}
.ah-catitem-starsbox{
	display: inline-block;
	margin-right: 5px;
	li{
		display: inline-block;
		margin: 0px 2px;
		span{
			display: inline-block;
			width: 19px;
			height: 19px;
			cursor: pointer;
		}
	}
}
.ah-arrtop{
	background: url(../img/ah-arrtop.png) left center no-repeat;
}
.ah-arrbot{
	background: url(../img/ah-arrbot.png) left center no-repeat;
}
.ah-catitem-arrsbox{
	display: inline-block;
	vertical-align: top;
	li{
		display: inline-block;
	    margin: 0px 3px;
		span{
			display: inline-block;
			font-family: "PT_SansWebRegular";
			color: #006fb0;
			font-size: 14px;
			line-height: 19px;
			padding-left: 20px;
		}
	}
}
.ah-div-catitem-select{
	margin-top: 30px;
	margin-bottom: 20px;
	.ah-catselect{
		.btn{
			font-size: 18px;
		}
	}
}
.ah-catalog-span1{
	display: block;
	font-family: "PT_SansWebBold";
	color: #006fb0;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}
.ah-str1{
	background: url(../img/ah-star1.png) center center no-repeat;
}
.ah-str0{
	background: url(../img/ah-star0.png) center center no-repeat;
}
.ah-catitem-timetop{
	margin-bottom: 0px;
	li{
		display: inline-block;
		margin-right: 5px;
		span{
			display: block;
			font-family: "PT_SansWebBold";
			color: #006fb0;
			font-size: 18px;
			line-height: 21px;
		}
		&:last-child{
			margin-right: 0px;
		}
	}
}
.ah-catitem-timebott{
	margin-bottom: 0px;
	li{
		display: inline-block;
		margin-right: 10px;
		span{
			display: block;
			font-family: "PT_SansWebRegular";
			color: #006fb0;
			font-size: 10px;
		}
		&:last-child{
			margin-right: 0px;
		}
	}
}
.ah-catitem-imgtime{
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 5px 10px;
	background: #f0f9ff;
	border-radius: 5px 0px 0px 0px;
}
.ah-catitem-boxicon{
	position: absolute;
	top: 10px;
	left: 10px;
	display: block;
	width: 51px;
	height: 42px;
	background: url(../img/ah-caticon3.png) center center no-repeat;
}
.ah-catitem-imgbox{
	position: relative;
	display: block;
	max-width: 270px;
	height: 270px;
	background: url(../img/ah-catimg.jpg) center center no-repeat;
	background-size: cover;
	margin: 0 auto;
	&:hover{
		.ah-catitem-mask{
			position: relative;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.2);
			&:hover{
				.ah-like-icon{
					display: block;
					position: absolute;
					top: 40%;
					left: 38%;
					width: 69px;
					height: 53px;
					background: url(../img/ah-like.png) center center no-repeat;
				}
			}
		}
	}
}
.ah-like-icon{
	display: none;
}
.ah-div-catitem-link{
	display: block;
	max-width: 170px;
	height: 45px;
	background: #006eaf;
	border-radius: 5px;
	color: #fff;
	font-family: "PT_SansWebRegular";
	font-size: 18px;
	line-height: 45px;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	margin-bottom: 20px;
	&:hover, &:focus{
		color: #fff;
		text-decoration: none;
		background: #049f54;
		transition: background 0.6s ease 0s;
	}
}
.ah-div-catselect1{
	display: inline-block;
	width: 246px;
	margin-right: 30px;
	margin: 5px 0px;
	@include mobile(320){
		width: 100%;
		margin-right: 0px;
	}
	@include mobile(768){
		width: 200px;
		margin: 0px 0px;
		margin-right: 10px;
	}
	@include mobile(992){
		width: 246px;
		margin-right: 30px;
	}
}
.ah-div-catselect2{
	display: inline-block;
	width: 270px;
	margin: 5px 0px;
	@include mobile(320){
		width: 100%;
	}
	@include mobile(768){
		width: 220px;
		margin: 0px 0px;
	}
	@include mobile(992){
		width: 270px;
	}
}

.ah-rowlink1{
	display: inline-block;
	width: 45px;
	height: 45px;
	padding: 10px;
	background: transparent;
	background: url(../img/ah-caticon1.png) center center no-repeat transparent;
	&:hover, &:active, &:focus{
		background: url(../img/ah-caticon1.png) center center no-repeat #f0f9ff;
	}
}
.ah-rowlink2{
	display: inline-block;
	width: 45px;
	height: 45px;
	padding: 10px;
	background: transparent;
	background: url(../img/ah-caticon2.png) center center no-repeat transparent;
	&:hover, &:active, &:focus{
		background: url(../img/ah-caticon2.png) center center no-repeat #f0f9ff;
	}
}
.ah-rowlinks{
	float: left;
}
.ah-selectbox{
	float: right;
}










