@import "vars";

// .az-div{
//     width: 100px;
//     height: 100px;
//     background: red;
//     @include mobile(992){
//         background: green;
//     }
//     @include desktop(480){
//         background: blue;
//     }
// }

/* *************************************************** */
.ah-filter{
	// height: 1096px;
	// background: #e2fee5;
	margin: 70px auto 20px;
	max-width: 202px;
	@include desktop(992){
		max-width: 100%;
		margin: 30px auto 20px;
	}

}

.ah-filter{
	font-size: 0;
	h2{
		font-size: 20px;
		color: #006eaf;
		line-height: 36px;
		margin: 0;
	}
}

.az-filter-item-wrap{
	@include desktop(992){
		column-count: 3;
		column-gap: 15px;
		.az-filter-item{
			display: block;
			vertical-align: top;
		}
	}
	@include desktop(768){
		column-count: 2;
	}
	@include desktop(480){
		column-count: 1;
	}
}

.az-filter-row{
	@include desktop(992){
		margin-left: -9px;
		margin-right: -9px;
	}
}
.az-filter-col{
	@include desktop(992){
		width: 33.33%;
		display: inline-block;
		vertical-align: top;
		padding-left: 9px;
		padding-right: 9px;
	}
	@include desktop(768){
		width: 100%;
	}
}


.az-filter-item{
	font-size: 0;
	padding: 2px 0;
	.az-bascet-del{
		margin-left: 0;
	}
	a, span{
		display: inline-block;
		vertical-align: top;
	}
	span{
		font-size: 18px;
		color: #006eaf;
		line-height: 30px;
	}
}

.az-choose-filters{
	margin-bottom: 30px;
	.ah-person-itemlink{
		margin-top: 20px;
	}
}

.az-filters{
	margin-bottom: 20px;
	.az-order-input-wrap{
		label{
			display: block;
			margin: 8px 0;
		}
	}
}

.az-tooltip {
	// cursor: help;
}

.az-tooltip::after {
	background: #cce2ef;
	border-radius: 4px;
	text-align: center;
	// box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
	opacity: 0; /* Наш элемент прозрачен... */
	padding: 3px 7px;
	position: absolute;
	visibility: hidden; /* ...и скрыт. */
	transition: all 0.4s ease-in-out; /* Добавить плавности по вкусу */
	left: 100%;
	width: 170px;
	z-index: 3;
	top: 50%;
	transform: translate(0, -50%);
	line-height: 45px;
	display: inline-block;
	vertical-align: top;
	color: #006fb0;
}
		
.az-tooltip:hover::after {
	opacity: 1; /* Показываем его */
	visibility: visible;
}

.az-tooltip:before{
	opacity: 0; /* Наш элемент прозрачен... */
	content: "";
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 0;
	height: 0;
	border-right: 10px solid #cce2ef;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	right: 0;
	z-index: 10;
	transition: all 0.4s ease-in-out; /* Добавить плавности по вкусу */
	visibility: hidden; /* ...и скрыт. */
}

.az-tooltip:hover::before {
	opacity: 1; /* Показываем его */
	visibility: visible;
}

.az-range{
	display: none;
}

.ui-slider{
	margin: 30px 0;
	height: 15px;
	border-right: 4px;
	border: 0 !important;
	background: #cce2ef;
	span:first-of-type, span:last-of-type{
		&::before{
			content: attr(data-price);
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			font-size: 18px;
			color: #006eaf;
			line-height: 30px;
		}
	}

	.ui-slider-range{
		background: #7fb6d7;
	}
	.ui-slider-handle{
		height: 31px;
		width: 31px;
		border: 0;
		border-radius: 50%;
		top: -8px;
		background: #f0f9ff;
		cursor: pointer;
		margin-left: -15px;
	}
}

.az-filter-cat{
	margin-bottom: 20px;
	.az-order-input-wrap{
		label{
			display: block;
			margin: 8px 0;
			white-space: nowrap;
		}
	}
}

.az-slide-block{
	display: none;
}

.az-click{
	position: relative;
	cursor: pointer;
	&::before{
		position: absolute;
		top: 50%;
		right: 0;
		content: "";
		border-top: 6px solid #006eaf;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
	}
	&.on{
		&::before{
			border-top: 0;
			border-bottom: 6px solid #006eaf;
		}
	}
}

.az-filter-cat-more{
	&.on{
		display: none;
	}
}

.az-filter-cat-more{
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	text-decoration: none;
	line-height: 22px;
	color: $blue;
	white-space: nowrap;
	margin-left: 5px;
	&::after{
		content: "";
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 100%;
		height: 1px;
		background: repeating-linear-gradient(to right, $blue 0px, $blue 2px, transparent 2px, transparent 4px);
	}
	&:focus, &.active{
		text-decoration: none;
		color: $blue;
		font-size: 18px;
		line-height: 22px;
	}
	&:hover{
		text-decoration: none;
		font-size: 18px;
		line-height: 22px;
		color: $blue;
		&::after{
			display: none;
		}
	}
}

.az-rating-wrap{
	font-size: 0;
	width: 125px;
	input[type="radio"]{
		display: none;
	}
	input[type="radio"] + label{
		font-size: 0;
		width: 25px;
		height: 19px;
		background: transparent url('../img/ah-star0.png') left top no-repeat;
		float: right;
		margin: 0;
		cursor: pointer;
	}
	input[type="radio"]:checked ~ label{
		background: transparent url('../img/ah-star1.png') left top no-repeat;
	}
	&:hover label{
		background: transparent url('../img/ah-star0.png') left top no-repeat !important;
	}
	label:hover, label:hover ~ label{
		background: transparent url('../img/ah-star1.png') left top no-repeat !important;
	}
	span{
		font-size: 0;
		width: 25px;
		height: 19px;
		background: transparent url('../img/ah-star0.png') left top no-repeat;
		margin: 0;
		display: inline-block;
		vertical-align: top;
		&.active{
			background: transparent url('../img/ah-star1.png') left top no-repeat !important;
		}
	}
}

.az-rating{
	margin-bottom: 20px;
	span{
		font-size: 20px;
		color: #006eaf;
		line-height: 36px;
	}
}

.az-rating2{
	margin-bottom: 30px;
	span{
		font-size: 18px;
		color: #006eaf;
		line-height: 36px;
	}
}

.az-filter-submit{
	.ah-person-itemlink{
		width: 100%;
	}
}