// .az-div{
//     width: 100px;
//     height: 100px;
//     background: red;
//     @include mobile(992){
//         background: green;
//     }
//     @include desktop(480){
//         background: blue;
//     }
// }

/* *************************************************** */
.ah-textbox{
	margin-top: 70px;
}
.ah-textbox-text{
	display: block;
	font-family: "PT_SansWebRegular";
	color: #006fb0;
	font-size: 14px;
	line-height: 20px;
}







