*{
	border: 0;
	margin: 0;
	padding: 0;
}

body{
	font-family: "PT_SansWebRegular";
}

ul{
	li{
		list-style-type: none;
	}
}

a{
	outline: none;
}

@import "header";
@import "breadcrumbs";
@import "header-bottom";
@import "az-search";
@import "az-main-tab";
@import "az-main-catalog";
@import "az-popup";
@import "order-for-front";
@import "az-log-reg";

// .az-div{
//     width: 100px;
//     height: 100px;
//     background: red;
//     @include mobile(992){
//         background: green;
//     }
//     @include desktop(480){
//         background: blue;
//     }
// }

