@import "vars";

$blue: #006eaf;

.az-basket-popup{
	margin: 50px auto;
	min-height: 100px;
	max-width: 930px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	padding: 47px 47px 0;
	background: #fff;
	@include desktop(480){
		padding: 10px;
	}
	h2{
		font-size: 30px;
		line-height: 36px;
		color: $blue;
		text-align: center;
		margin: 0;
	} 
}

.az-basket-wrap{
	margin-bottom: 68px;
}

.az-basket-item{
		margin-top: 60px;
		margin-bottom: 25px;
	&:first-child{
		margin-top: 10px;
	}
	color: $blue;

}

.az-basket-img{
	float: left;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 0;
	img{
		max-width: 100%;
		width: auto;
		max-height: 100%;
		height: auto;
		display: inline-block;
		vertical-align: middle;
	}
}

.az-basket-content{
	float: right;
	width: calc(100% - 100px);
	padding-left: 30px;
	text-align: right;
	font-size: 0;
	&.left{
		text-align: left;
	}
	@include desktop(480){
		padding-left: 10px;
	}
}

.az-bc-title, .az-bc-count, .az-summ{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-size: 18px;
}

.az-bc-title{
	width: 42.85%;
	padding-right: 10px;
	@include desktop(992){
		width: 60%;
	}
	@include desktop(768){
		width: 100%;
	}
}

.az-bc-count, .az-summ{
	padding-right: 10px;
	width: 28.57%;
	@include desktop(992){
		width: 40%;
		margin-top: 10px;
	}
	@include desktop(768){
		width: 100%;
	}
}

.az-basket-subcontent{
	@extend .az-basket-content;
	margin-top: 8px;
	@include desktop(480){
		float: none;
		clear: both;
		width: 100%;
		padding-top: 5px;
		padding-left: 20px;
	}
	.az-bc-title{
		width: 42.85%;
		padding-right: 10px;
		@include desktop(992){
			width: 33.33%;
		}
		@include desktop(768){
			width: 100%;
		}
		@include desktop(480){
			// text-align: center;
		}
	}
	.az-bc-count, .az-summ{
		padding-right: 10px;
		width: 28.57%;
		@include desktop(992){
			width: 33.33%;
			margin-top: 0px;
		}
		@include desktop(768){
			margin-top: 5px;
			width: 100%;
		}
		@include desktop(480){
			// text-align: center;
		}
	}
}





.az-bc-title{
	h3{
		font-size: 18px;
		margin: 0;
		line-height: 24px;
	}
	span{
		font-size: 14px;
		line-height: 24px;
		display: inline-block;
		margin-top: 5px;
	}
}

.az-count-top{
	font-size: 0;
	line-height: 31px;
	span{
		font-size: 18px;
	}
}

.az-count-action{
	width: 31px;
	height: 31px;
	background-color: #f0f9ff;
	border-radius: 4px;
	vertical-align: top;
	background-position: center;
	background-repeat: no-repeat;
	font-size: 0;
	display: inline-block;
	margin: 0 9px;
}

.az-count-minus{
	@extend .az-count-action;
	background-image: url(../img/az-basket-minus.png);
	margin-left: 0;
}

.az-count-plus{
	@extend .az-count-action;
	background-image: url(../img/az-basket-plus.png);
}

.az-bascet-del{
	@extend .az-count-action;
	background-image: url(../img/az-basket-del.png);
}

.az-count-num{
	display: inline-block;
	vertical-align: top;
	min-width: 20px;
	text-align: center;
}

.az-count-bottom{
	color: #ff3300;
	font-size: 14px;
	line-height: 36px;
}

.az-basket-itog{
	color: $blue;
}

.az-basket-itog-left{
	float: left;
	width: 50%;
	padding-right: 15px;
	@include desktop(992){
		width: 100%;
		padding-left: 0px;
	}
	div, h3{
		font-size: 18px;
		margin: 0;
		line-height: 24px;
	}
	a, a:hover, a:focus, a:active, span{
		font-size: 14px;
		line-height: 24px;
		color: $blue;
		text-decoration: none;
	}
}

.az-basket-itog-right{
	float: right;
	width: 50%;
	padding-left: 15px;
	@include desktop(992){
		width: 100%;
		padding-left: 0px;
		padding-top: 15px;
	}
}

.az-basket-itog-left2{
	float: left;
	width: 50%;
	padding-right: 15px;
}
.az-basket-itog-right2{
	float: right;
	width: 50%;
	padding-left: 15px;
}

.az-basket-summ-top{
	font-family: "PT_SansWebBold";
	font-size: 18px;
}

.az-basket-summ-bottom{
	margin-top: 30px;
	@include desktop(992){
		margin-top: 10px;
	}
}

a.az-basket-continue{
	position: relative;
	display: inline-block;
	font-size: 18px;
	text-decoration: none;
	line-height: 45px;
	color: $blue;
	white-space: nowrap;
	&::after{
		content: "";
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 100%;
		height: 1px;
		background: repeating-linear-gradient(to right, $blue 0px, $blue 2px, transparent 2px, transparent 4px);
	}
	&:focus, &.active{
		text-decoration: none;
		color: $blue;
		font-size: 18px;
		line-height: 45px;
	}
	&:hover{
		font-size: 18px;
		line-height: 45px;
		&::after{
			display: none;
		}
	}
	@include desktop(768){
		font-size: 14px;
		&:hover, &:focus, &.active{
			font-size: 14px;
		}
	}
}

.az-button{
	max-width: 170px;
	display: inline-block;
	height: 45px;
	background: #006eaf;
	border-radius: 5px;
	color: #fff;
	font-family: "PT_SansWebRegular";
	font-size: 18px;
	line-height: 45px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
	width: 100%;
	transition: background 0.6s ease;
	&:active, &:focus{
		color: #fff;
		text-decoration: none;
	}
	&:hover{
		color: #fff;
		text-decoration: none;
		background: #049f54;
	}
	@include desktop(768){
		font-size: 14px;
		&:hover, &:focus, &.active{
			font-size: 14px;
		}
	}
}




.mfp-bg{
	background: rgba(255, 255, 255, 1);
}

button.mfp-close{
	font-size: 0;
	background: url(../img/mfp-close.png) no-repeat center;
	width: 65px;
	height: 64px;
}

/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}