@import "vars";

.az-pp-item{
	padding-top: 35px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid #78b4d7;
	position: relative;
	@include desktop(480){
		padding-left: 10px;
		padding-left: 10px;
	}
	&:first-child{
		padding-top: 0;
	}
	&:last-child{
		border-bottom: 0;
	}
	&.on{
		.az-pp-slide-link{
			&::before{
				border-bottom: 7px solid #7fb6d7;
				border-top: 0;
			}
			&.bottom{
				display: block;
			}
		}
	}
	&.disabled{
		opacity: .5;
		.az-pp-top-left{
			.ah-catselect .btn{
				background: #e4e4e4;
			}
		}
	}
}

.az-pp-slide-link.bottom{
	position: absolute;
	bottom: 30px;
	right: 19px;
	z-index: 3;
	display: none;
	@include desktop(480){
		right: 0;
		bottom: 0px;
	}
}

.az-personal-product{
	h2{
		font-size: 22px;
		line-height: 30px;
		padding-left: 20px;
		@include desktop(480){
			padding-left: 10px;
		}
	}
}

.az-pp-top-left{
	float: left;
}

.az-pp-top-right{
	float: right;
	font-size: 0;
	line-height: 30px;
	@include desktop(480){
		float: left;
		padding-bottom: 10px;
		width: 100%;
	}
}

.az-moderation{
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	padding: 0 14px;
	text-decoration: none;
	background: #fff5f0;
	border-radius: 5px;
	transition: background 0.6s ease;
	color: #006eaf;
	&:active, &:focus{
		color: #006eaf;
		text-decoration: none;
	}
	&:hover{
		background: darken(#fff5f0, 10%);
		color: #006eaf;
		text-decoration: none;
	}
}

.az-pp-link{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
}

.az-pp-pay{
	@extend .az-moderation;
	text-align: center;
	background: #cce2ef;
	vertical-align: middle;
	margin-right: 13px;
	&:hover{
		background: #e2fee5;
	}
}

.az-pp-correct{
	@extend .az-pp-link;
	width: 30px;
	height: 30px;
	background: transparent url('../img/az-pencil.png') center no-repeat;
	opacity: .7;
	transition: opacity 0.6s ease;
	font-size: 0;
	margin-right: 12px;
	&:hover{
		opacity: 1;
	}
}

.az-pp-slide-link{
	@extend .az-pp-link;
	font-size: 0;
	margin-right: 4px;
	width: 30px;
	height: 30px;
	text-align: center;
	&::before{
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 0;
		border-top: 7px solid #7fb6d7;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		opacity: .7;
		transition: opacity 0.6s ease;
	}
	&:hover{
		&::before{
			opacity: 1;
		}
	}
}

.az-pp-middle{
	padding-top: 25px;
	font-size: 0;
}

.az-pp-slider-wrap{
	display: inline-block;
	width: 100%;
	vertical-align: top;
	max-width: 200px;
	@include desktop(992){
		display: block;
	}
}

.az-pp-slider-item{
	img{
		width: 100%;
		height: auto;
	}
}

.az-pp-title{
	font-size: 18px;
	margin: 0 0 10px 0;
}

.az-pp-name{
	display: inline-block;
	width: 100%;
	vertical-align: top;
	max-width: calc(100% - 495px);
	margin: 0 70px 0 55px;
	@include desktop(1200){
		max-width: calc(100% - 440px);
		margin: 0 30px 0 30px;
	}
	@include desktop(992){
		max-width: 100%;
		display: block;
		margin: 10px 0 0;
		.ah-cardprod-starsrow1{
			margin-bottom: 0;
		}
	}
}

.az-pp-price{
	font-family: "PT_SansWebBold";
	font-size: 18px;
	line-height: 24px;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	max-width: 170px;
	@include desktop(992){
		display: block;
		max-width: 100%;
	}
	p{
		margin: 0 0 5px;
	}
}

.az-pp-list{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	@include desktop(1200){
		width: 55%;
	}
	@include desktop(992){
		width: 100%;
		display: block;
		margin: 10px 0 15px;
	}
	li{
		display: block;
		font-size: 0;
		@include desktop(480){
			display: table;
			width: 100%;
		}
		span{
			font-size: 18px;
			line-height: 24px;
			display: inline-block;
			vertical-align: top;
			&:first-child{
				width: 150px;
			}
			&:last-child{
				width: 230px;
			}
			@include desktop(480){
				display: table-cell;
				&:first-child{
					width: auto;
				}
				&:last-child{
					width: auto;
					padding-left: 30px;
					text-align: right;
				}
			}
		}
	}
}

.ah-catitem-starsrow.az-style2{
	.ah-catitem-starsbox, .ah-catitem-arrsbox, .ah-cardprod-starsrow{
		vertical-align: top !important;
	}
	.ah-catitem-arrsbox{
		margin-left: 20px;
		margin-right: 15px;
	}
	.ah-cardprod-starsrow{
		line-height: 18px;
	}
}

.az-pp-slide{
	display: none;
}

.az-pp-bottom{
	font-size: 0;
}

.az-pp-else{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	@include desktop(1200){
		width: 45%;
	}
	@include desktop(992){
		width: 100%;
		display: block;
	}
	h4{
		font-size: 18px;
		margin: 0 0 10px 0;
	}
	ul{
		li{
			padding-left: 40px;
			font-size: 18px;
			line-height: 30px;
			position: relative;
			&::before{
				content: "";
				top: 50%;
				margin-top: -3px;
				position: absolute;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: #78b4d7;
				left: 17px;
			}
		}
	}
}

.az-pp-tabs{
	padding-top: 20px;
	.ui-tabs-active a{
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	.az-tabs li a{
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	.az-tabs-content-inner{
		padding-top: 50px;
	}
}

.az-pp-tabs-content{
	.az-tabs-content-inner{
		padding-right: 40px;
		@include desktop(480){
			padding-right: 5px;
		}
	}
	p{
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 20px;
		max-width: 555px;
	}
}

.az-pp-feature{
	line-height: 24px;
	font-size: 0;
	li{
		margin-bottom: 10px;
		@include desktop(480){
			display: table;
			width: 100%;
		}
	}
	span{
		font-size: 18px;
		display: inline-block;
		vertical-align: top;
		@include desktop(480){
			display: table-cell;
		}
	}
	span:first-child{
		width: 50%;
		max-width: 230px;
		@include desktop(480){
			width: auto;
		}
	}
	span:last-child{
		width: 50%;
		max-width: 270px;
		@include desktop(480){
			width: auto;
			text-align: right;
		}
	}
}

.az-pp-top-left{
	.ah-catselect .btn{
		padding: 0 18px;
		min-width: 150px;
		font-size: 14px;
		height: 30px;
		line-height: 28px;
	}
}