.az-order-summ{
	.az-bc-title{
		width: 50%;
		margin-right: 50%;
	}
	.az-bc-count{
		width: 50%;
		margin-top: 10px;
	}
	.az-summ{
		width: 50%;
		margin-top: 10px;
	}
	.az-basket-itog-right{
		width: calc(100% - 100px);
		padding-left: 30px;
		margin-top: 45px;
	}
}